<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <div>
    <h1>Add Book</h1>
    </div>

    <form th:action="@{/save}" th:object="${book}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Author: <input type="text" th:field="*{author}" /></p>
        <p>Year: <input type="number" th:field="*{publicationYear}" /></p>
        <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
        <p>Price: <input type="number" step="0.01" th:field="*{price}" /></p>
        <button type="submit">Save</button>
    </form>

    <a href="/booklist">Back to Booklist</a>
</body>
</html>