<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Book Strore</title>
     <link type="text/css" rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Books</h1>
    
    <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Category</th>
    </tr>
    <tbody>
   <tr th:each="book : ${books}">
    <td th:text="${book.id}"></td>
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.isbn}"></td>
    <td th:text="${book.publicationYear}"></td>
    <td th:text="${book.category.name}"></td>
    <td>
        <td><a th:href="@{/editBook/{id}(id=${book.id})}">Edit</a></td>

        <td sec:authorize ="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>
    </td>
    </tr>
    </tbody>
</table>
<a href="/main">Back to main page</a>
    <a href="/addbook" class="btn btn-success">Add book</a>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>