<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book </title>
    <link type="text/css" rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
</head>
<body >
    <h1>Edit book information:</h1>
    <form action="#" th:object="${editBook}" th:action="@{/saveEditedBook}" method="post">
        <input type="text" id="id" th:field="*{id}" readonly />
        <div>
            <label>Title:</label>
            <input type="text" th:field="*{title}"/>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
        </div>
        <div>
            <label>Author:</label>
            <input type="text" th:field="*{author}" />
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
        </div>
        <div>
            <label>Year:</label>
            <input type="text" th:field="*{publicationYear}"/>
            <div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</div>
        </div>
        <div>
            <label>ISBN:</label>
            <input type="text" th:field="*{isbn}" />
            <div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</div>
        </div>
        <div>
            <label>Price:</label>
            <input type="number" step="0.01" th:field="*{price}" />
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
        </div>
        <div>
            <label>Category:</label>
            <select th:field="*{category}" class="form-select">
            <option th:each="cat : ${categories}" 
                th:value="${cat.id}" 
                th:text="${cat.name}">
            </option>
            </select>
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Error</div>
        </div>

        <div>
            <button type="submit" >Save</button>
        </div>
    </form>
</body>